<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>Artbase</title>

  <link href="<%= url('/style.css') %>" rel='stylesheet'>
  <script src="/artbase.js"></script>
</head>
<body>

<%= yield %>

<%= erb :'shared/_version' %>

</body>
</html>